[package]
name = "emplace"
version = "0.3.10-alpha.0"
authors = ["Thomas Versteeg <thomasversteeg@gmx.com>"]
description = "Command-line tool to mirror installed software on multiple machines."
edition = "2018"
repository = "https://github.com/tversteeg/emplace"
readme = "README.md"
license = "AGPL-3.0-or-later"
keywords = ["shell", "cli", "mirror", "sync"]
categories = ["command-line-utilities"]
include = ["src/**/*", "LICENSE", "README.md"]

[badges]
is-it-maintained-issue-resolution = { repository = "tversteeg/emplace" }
is-it-maintained-open-issues = { repository = "tversteeg/emplace" }

[dependencies]
anyhow = "1.0.36"
clap = "2.33.3"
colored = "2.0.0"
console = "0.13.0"
dialoguer = "0.7.1"
dirs = "3.0.1"
enum_dispatch = "0.3.4"
glob = "0.3.0"
itertools = "0.9.0"
log = "0.4.11"
ron = "0.6.4"
run_script = "0.6.3"
serde = { version = "1.0.118", features = ["derive"] }
shellexpand = "2.1.0"
simplelog = "0.9.0"
strum = "0.20.0"
strum_macros = "0.20.1"
toml = "0.5.8"

[package.metadata.deb]
maintainer = "Thomas Versteeg <thomasversteeg@gmx.com>"
copyright = "2019, Thomas Versteeg <thomasversteeg@gmx.com>"
license-file = ["LICENSE", "4"]
extended-description = """\
A command-line tool to mirror installed software on multiple machines. \
Hooks into your shell to keep track of what you are installing. \
Can also be used to sync configuration files. \
"""
depends = "$auto"
section = "utility"
priority = "optional"
assets = [
	["target/release/emplace", "usr/bin/", "755"],
	["README.md", "usr/share/doc/emplace/README", "644"],
]
